/*body {
    background-color: #b3b3b3;
}*/

            .fotografias {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
            }

            .fotografias img {
                width: 150px;
                border-radius: 20px;
            }

            /* style de tabela dado pelo chat*/

            

            

            * {
            font-family: sans-serif;
            padding: 0;
            margin: 0;
            }

            header,footer, section, footer {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5vh;
            }

            header {
            background: red;
            position: sticky;
            height: 10vh;
            top: 0;
            }

            section:nth-child(1) {
            height: 90vh;
            background: purple;

            background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2FsbHBhcGVyJTIwNGt8ZW58MHx8MHx8fDA%3D');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            
            color: white;
            }

            section:nth-child(2) {
            height: 100vh;
            background: orange;
            }

            section:nth-child(3) {
            height: 80vh;
            }

            footer {
            height: 10vh;
            background: black;
            color: white;
            }

            nav ul {
                list-style:none;
                padding: 0;
                margin: 0;
                display: flex;
                gap: 1rem;
            }

            nav a {
                text-decoration: none;
                color: inherit;
            }


            /*chat ajudou*/
            #projetos {
            padding: 60px 20px;
            background-color: #f8f8f8;
            text-align: center;
            }

            

           
